<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/alert.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body>
    <% include templates/nav.ejs %>
    <% if(user) { %> 
        <% include templates/bar.ejs %>
    <% } %>


  <main>
        <div id="container">
            <p id='message'><%=message%></p>
            <a href='<%=backURL%>' id='backurl'>
                Go Back
            </a>
        </div>
  </main>

    <% include templates/footer.ejs %>
    
    <div id="form-login">
        <h1>Login <span id="close-form-login" ></span></h1>
        <hr>
        <form method="post" action="/auth/signIn">
            <label for="email">E-mail</label>
            <br>
            <input type="email" name="email" required>
            <br>
            <label for="password">Password</label>
            <br>
            <input type="password" name="password" required>
            <br>
            <input type="submit" value="Log in">
        </form>
        <a href='/auth/facebook' id="facebook-login"> Login with Facebook </a>
        <a href='/auth/google' id="google-login"> Login with Google </a> 
        
    </div>
    
    <div id="form-signup">
        <h1>Sign Up <span id="close-form-signup" ></span></h1>
        <hr>
        <form method="post" action="/auth/SignUp">
            <label for="email">E-mail</label>
            <br>
            <input type="email" name="email" required>
            <br>
            <label for="password">Password</label>
            <br>
            <input type="password" name="password" required>
            <br>
            <label for="confirmPassword">Confirm password</label>
            <br>
            <input type="password" name="confirmPassword" required>
            <br>
            <input type="submit" value="Sign up">
        </form>
        <a href='/auth/facebook' id="facebook-login"> Login with Facebook </a>
        <a href='/auth/google' id="google-login"> Login with Google </a>
    </div>
        
      <script src='../scripts/forms.js'></script>
</body>

</html>