<!DOCTYPE html>
<html>

<head>
    <title>Share idea!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/share-idea.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
    
</head>

<body>
    <% include templates/nav.ejs %>
    <% if(user) { %> 
        <% include templates/bar.ejs %>
    <% } %>

  <main>
        <div id="container">
            <form action="/project/share-idea/success" method="post">
                <div id='inputs'>
                    <label for='title'>Project title:</label>
                    <br>
                    <input type='text' name='title' required maxlength="50">
                    <br>
                    <label  for='info'>Project info:</label>
                    <br>
                    <textarea name='info' required maxlength="1700"></textarea>
                    <br>
                    <label>Positions required:</label>
                    <br>
                    <label for='programmer' class='smaller'>Programmer:</label>
                    <input type='number' name='programmer' value="0" min='0' max='9'>
                    <br>
                    <label for='marketingManager' class='smaller'>Marketing manager:</label>
                    <input type='number' name='marketingManager' value="0" min='0' max='9'>
                    <br>
                    <label for='designer' class='smaller'>Designer:</label>
                    <input type='number' name='designer' value="0" min='0' max='9'>
                    <br>
                    <label for='qualityAssurance' class='smaller'>Quality assurance:</label>
                    <input type='number' name='qualityAssurance' value="0" min='0' max='9'>
                    <br>
                    <label for='teamLeader' class='smaller'>Team leader:</label>
                    <input type='number' name='teamLeader' value="0" min='0' max='9'>
                    <br>
                    <label for='businessAnalyst' class='smaller'>Business analyst:</label>
                    <input type='number' name='businessAnalyst' value="0" min='0' max='9'>
                    <br>
                    <label for='other' class='smaller'>Other:</label>
                    <input type='number' name='other' value="0" min='0' max='9'>
                    <br>
                    <label for='skillRequired' >Skills required:</label>
                    <textarea name='skillsRequired' maxlength="500"></textarea>
                    <br>
                    <input type="submit" value="Confirm">
                </div>
            </form>
        </div>
  </main>


    <% include templates/footer.ejs %>
    
    
</body>


</html>