<link rel="stylesheet" href="/styles/bar.css">

<div id="bar">
    
    <a href="/project/find-work" class="bar-links" id='left'>
        <button class="bar-button">Find Work</button>
    </a>
    
    <a href="/project/share-idea" id="left">
        <button class="bar-button">Share Idea</button>
    </a>
    <a href="/profile/my-messages" class="bar-links">
        <button class="bar-button">My Messages</button>
    </a>

    <a href="/project/my-projects" class="bar-links">
        <button class="bar-button">My Projects</button>
    </a>
 
    <a href="/profile/edit-profile" class="bar-links">
        <button class="bar-button">Edit Profile</button>
    </a>
</div>