<link rel="stylesheet" href="/styles/footer.css">

<footer id = "page-footer">
        <p>&copy;UPmates, Inc.</p>
        <hr>
        <p>Find Us On</p>
        <ul type='none'>
            <li>
                <a href="https://plus.google.com/116029893952023817334/posts" id='contact-google'></a>
            </li>
            <li>
                <a href="https://www.facebook.com/upmates" id='contact-facebook'></a>
            </li>
            <li>
                <a href="https://twitter.com/upmatesnet" id='contact-twitter'></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/up-mates-309b30116" id='contact-linked-in'></a>
            </li>
            <li>
                <a href="https://www.instagram.com/upmates.net.5000" id='contact-instagram'></a>
            </li>
        </ul>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-74875458-1', 'auto');
        ga('send', 'pageview');

    </script>
   </footer>
